# fly.toml app configuration file generated for toxic-cicd on 2026-02-17T10:50:34-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'toxic-cicd'
primary_region = 'lax'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '2gb'
  cpus = 1
  memory_mb = 2048
