name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
jobs:
  lint: 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: lint
        run: uv run ruff check .
      - name: Format check
        run: uv run ruff format --check .

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      
      - name: Run tests
        run: uv run pytest tests/ -v
        